.text {
    text-transform: uppercase;
    color: #607D8B;
    font-size: 12px;
    margin: 5px 0;
}

.text.text-header {
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0; 
}

.text.text-header-main {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: .1em;
}

.text.text-center {
    margin: 5px auto;
    text-align: center;
}

.text.text-italic {
    font-style: italic;
}

.text.text-with-spacing {
    letter-spacing: 1.5px;
    padding-bottom: .7em;
    font-size: 14px;
}
  
