.list-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.list-container .list-container-error{
    padding: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.load-more-list {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 700px) {
    .list-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .list-container > * {
        margin-right: 16px;
        flex: 0 0 32%;
    }
}