.list-item-remove {
    position: absolute;
    display: block;
    right: 0;
    top: -15px;
    margin-right: -10px;
}

.list-item-left {
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.list-item-right {
    border-left: 1px solid rgba(96, 125, 139, 0.3);
    padding: 10px 0px 10px 20px;
}


